@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
a {
  font-weight: 300;
  font-size: 1em;
  color: #4b5563;
  text-decoration: inherit;
}
a:hover {
  color: #c55bba;
  font-weight: 600;
}

h1 {
  color: #374151;
  font-size: 3.2em;
}
h2 {
  color: #374151;
  font-size: 2.2em;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  color: #c55bba;
  font-size: 1.8em;
}

p,
label,
input,
textarea,
button {
  color: #374151;
  font-size: 1.1em;
}
